.menu{
  float: left;
  height: 100%;
  width: 17%;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
background-color: rgb(191, 211, 252);
}
.search {
margin-top:10px;
margin-left:10px;
margin-right:10px;
margin-bottom:10px;
background-color: #9999FF;
color: white;
}
.parent{
  margin-top:10px;
  margin-left:2%;
  margin-right:2%;
  margin-bottom:10px;
  overflow: hidden;
background-color: rgb(191, 211, 252) ;
}
.child{
  float: left;
  width: calc(50% - 20px);
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
background-color: #FFFFFF;
}